* {
    box-shadow: none;
    text-shadow: none;
}

window {
    background-color: @background;
}

menubar {
    background-color: @background;
    border-bottom: solid 1px @background_secondary;
}







#navigation_list {
    padding: 20px;
    background-color: @background;
}

#navigation_list row {
    padding: 15px;
    border-radius: 8px;
}

#navigation_list row label {
    font-size: 16px;
}


#bottom_bar {
    padding: 4px 10px;
    font-size: 12px;
    color: @text_secondary;
    background-color: @background;
    border-top: solid 1px @background_secondary;
}

#bottom_bar #license {
    padding: 0 6px;
    border-radius: 28px;
    font-size: 10px;
    color: @red;
    border: solid 1px @red;
}

window.nightly #bottom_bar #license {
    color: @purple;
    border: solid 1px @purple;
}

window.release #bottom_bar #license {
    color: @green;
    border: solid 1px @green;
}

#bottom_bar button {
    min-height: 0;
    padding: 0;
    border-radius: 6px;
    border: none;
    background-color: transparent;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
}

#bottom_bar button:hover {
    background-color: @ripple;
}

#bottom_bar #warning {
    background-image: url('../icons/ic_status_good.svg');
}

#bottom_bar #warning.warning {
    background-image: url('../icons/ic_status_warning.svg');
}

#bottom_bar #warning.severe {
    background-image: url('../icons/ic_status_severe.svg');
}



/*

#main_window {
    background-color: #00000080;
}





button {
    border: none;
}

button:focus, button:checked {
    outline: none;
    border: none;
}
















menuitem {
    border: none;
    color: @text_primary;
    font-size: 14px;
}

menuitem:hover {
    background-color: @ripple;
}

menuitem menuitem {
    margin: 0 5px;
    border-radius: 5px;
    font-size: 12px;
}

menuitem menuitem:hover {
    background-color: @primary;
}

menu separator {
    margin: 5px 0;
    background-color: @border;
}

menu {
    padding: 5px 0;
    border-radius: 0;
    border: solid 1px @border;
    background-color: @background;
}
*/




/*
scrollbar {
    min-width: 5px;
    min-height: 5px;
    border: none;
}
*/


/*
scrollbar {
    all: unset;
    background: transparent;
}

scrollbar trough {
    all: unset;
    background: transparent;
}

scrollbar slider {
    all: unset;
    min-width: 8px;
    min-height: 8px;
    border-radius: 4px;
    box-shadow: none;
    background-color: #5a5a5a;
}

scrollbar.vertical slider {
    margin-right: 2px;
}

scrollbar.horizontal slider {
    margin-bottom: 2px;
}

overshoot {
    background-image: linear-gradient(transparent, transparent);
}

paned > separator {
    background-image: linear-gradient(@background, @background);
}
*/
